<div marginwidth="0" marginheight="0" style="margin:0;padding:0;background-color:#f2f2f2;min-height:100%!important;width:100%!important">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
            <tbody>
                <tr>
                    <td align="center" valign="top" style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important">
                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0">
                            <tbody>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#2196f3;border-top:0;border-bottom:0">
                                            <tbody>
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#666666;font-family:Helvetica;font-size:20px;line-height:150%;text-align:left">
                                                                                        <div style="text-align:center"><span><span style="font-size:15px"><span style="font-family:arial,helvetica neue,helvetica,sans-serif"><span style="color:#ffffff">NEW FEATURES</span></span></span></span></div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0">
                                            <tbody>
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:25px 18px">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:none;border-top-color:#999999;border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">
                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td valign="top" style="padding:9px 18px;color:#00b16a;font-size:14px;line-height:100%;text-align:center;font-family:Helvetica">
                                                                                        <p style="text-align:center;margin:1em 0;padding:0;color:#666666;font-family:Helvetica;font-size:12px;line-height:150%"><span style="font-size:22px"><span>{{release.version}}</span></span></p>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:25px 18px">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:none;border-top-color:#999999;border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        
                                                        <div ng-show="containsAddedNotes">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" style="padding:0px">
                                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                                                                            <img align="center"  src="https://gallery.mailchimp.com/57b9190b37cc6cc0a3cf93b0a/images/221fba47-c5c4-4a29-8ed5-3708a2ea8552.png" width="45" style="max-width:90px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none" class="CToWUd">
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top">
                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding:9px 18px;color:#9b59b6;font-size:14px;line-height:100%;text-align:center;font-family:Helvetica">
                                                                                            <div style="text-align:center">ADDED</div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div ng-repeat="note in release.notes">
                                                                <div ng-show="note.type == 'ADDED'">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse" >
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td valign="top" style="padding:9px 18px;color:#00b16a;font-size:14px;line-height:100%;text-align:center;font-family:Helvetica">
                                                                                                    <p style="margin:1em 0;padding:0;color:#666666;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left"><strong style="font-size:14px;line-height:20.7999992370605px">{{note.title}}</strong><span style="font-size:14px;line-height:20.7999992370605px"><span ng-show="note.title && note.description">&nbsp;- </span>{{note.description}}</span></p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding:25px 18px">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:none;border-top-color:#999999;border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <span></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div ng-show="containsChangedNotes">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" style="padding:0px">
                                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                                                                            <img align="center" src="https://gallery.mailchimp.com/57b9190b37cc6cc0a3cf93b0a/images/e8b06860-b5ca-4e09-8e83-556364f8e8be.png" width="45" style="max-width:90px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none" class="CToWUd">
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top">
                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding:9px 18px;color:#f39c12;font-size:14px;line-height:100%;text-align:center;font-family:Helvetica">
                                                                                            <div style="text-align:center">CHANGED</div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div ng-repeat="note in release.notes">
                                                                <div ng-show="note.type == 'CHANGED'">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse" >
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td valign="top" style="padding:9px 18px;color:#00b16a;font-size:14px;line-height:100%;text-align:center;font-family:Helvetica">
                                                                                                    <p style="margin:1em 0;padding:0;color:#666666;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left"><strong style="font-size:14px;line-height:20.7999992370605px">{{note.title}}</strong><span style="font-size:14px;line-height:20.7999992370605px"><span ng-show="note.title && note.description">&nbsp;- </span>{{note.description}}</span></p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding:25px 18px">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:none;border-top-color:#999999;border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <span></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div ng-show="containsFixedNotes">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top" style="padding:0px">
                                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                                                                            <img align="center"  src="https://gallery.mailchimp.com/57b9190b37cc6cc0a3cf93b0a/images/77aad03a-823f-4650-ad08-65336f67de33.png" width="45" style="max-width:90px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;outline:none;text-decoration:none" class="CToWUd">
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top">
                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding:9px 18px;color:#00b16a;font-size:14px;line-height:100%;text-align:center;font-family:Helvetica">
                                                                                            <div style="text-align:center">FIXED</div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div ng-repeat="note in release.notes">
                                                                <div ng-show="note.type == 'FIXED'">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse" >
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td valign="top" style="padding:9px 18px;color:#00b16a;font-size:14px;line-height:100%;text-align:center;font-family:Helvetica">
                                                                                                    <p style="margin:1em 0;padding:0;color:#666666;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left"><strong style="font-size:14px;line-height:20.7999992370605px">{{note.title}}</strong><span style="font-size:14px;line-height:20.7999992370605px"><span ng-show="note.title && note.description">&nbsp;- </span>{{note.description}}</span></p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding:25px 18px">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:none;border-top-color:#999999;border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <span></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>